In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/zhuolima/.wdm/drivers/chromedriver/mac64/93.0.4577.15/chromedriver] found in cache

In [4]:
url2021 = 'https://www.rottentomatoes.com/top/bestofrt/?year=2021'
url2020 = 'https://www.rottentomatoes.com/top/bestofrt/?year=2020'
url2019 = 'https://www.rottentomatoes.com/top/bestofrt/?year=2019'
# browser.visit(url)

In [5]:
import ssl
import certifi
import urllib

response1 = urllib.request.urlopen(url2021, context=ssl.create_default_context(cafile=certifi.where()))
response2 = urllib.request.urlopen(url2020, context=ssl.create_default_context(cafile=certifi.where()))
response3 = urllib.request.urlopen(url2019, context=ssl.create_default_context(cafile=certifi.where()))

In [6]:
df2021 = pd.read_html(response1)
df2020 = pd.read_html(response2)
df2019 = pd.read_html(response3)

In [41]:
R2021movies = df2021[2]
# df['result'] = df['result']. str. replace(r'\D', '')
R2021movies['Title']= R2021movies['Title'].replace("(2021)","")
R2021movies['Title'] = R2021movies['Title'].str.replace(r" \(.*\)","")

In [42]:
R2021movies

,Rank,RatingTomatometer,Title,No. of Reviews
0,1.0,94%,Nomadland,416
1,2.0,96%,Judas and the Black Messiah,339
2,3.0,98%,The Father,276
3,4.0,94%,In the Heights,343
4,5.0,99%,Summer of Soul,198
...,...,...,...,...
95,96.0,74%,Cruella,386
96,97.0,88%,Wild Indian,52
97,98.0,88%,Operation Varsity Blues: The College Admission...,51
98,99.0,86%,Jakob's Wife,88
99,100.0,88%,We're All Going to the World's Fair,40

In [43]:
R2020movies = df2020[2]
R2020movies['Title']= R2020movies['Title'].replace("(2020)","")
R2020movies['Title'] = R2020movies['Title'].str.replace(r" \(.*\)","")
R2020movies

     Rank RatingTomatometer                        Title  No. of Reviews
0     1.0               98%           One Night in Miami             331
1     2.0               98%   Portrait of a Lady on Fire             320
2     3.0               98%                       Minari             307
3     4.0               98%     Ma Rainey's Black Bottom             297
4     5.0               95%                         Soul             341
..    ...               ...                          ...             ...
95   96.0               85%  Borat: Subsequent Moviefilm             303
96   97.0               79%                Birds of Prey             430
97   98.0               91%              The White Tiger             170
98   99.0               93%                Yes, God, Yes             126
99  100.0               87%                        Emma.             255

[100 rows x 4 columns]

In [44]:
R2019movies = df2019[2]
R2019movies['Title']= R2019movies['Title'].replace("(2019)","")
R2019movies['Title'] = R2019movies['Title'].str.replace(r" \(.*\)","")
R2019movies

     Rank RatingTomatometer                      Title  No. of Reviews
0     1.0               98%                   Parasite             463
1     2.0               94%          Avengers: Endgame             546
2     3.0               97%                 Knives Out             466
3     4.0               93%                         Us             551
4     5.0               97%                Toy Story 4             452
..    ...               ...                        ...             ...
95   96.0               96%                       Rojo              53
96   97.0               91%                  In Fabric             160
97   98.0               96%  An Elephant Sitting Still              50
98   99.0               96%          It Must Be Heaven              49
99  100.0               95%    The Mortuary Collection              66

[100 rows x 4 columns]

In [45]:
R2021movies.to_csv("R2021movies.csv", index=True)

In [46]:
R2020movies.to_csv("R2020movies.csv", index=True)

In [47]:
R2019movies.to_csv("R2019movies.csv", index=True)