In [5]:
import pandas as pd

In [10]:
# Import Box Office and Rotten Tomatoes csv

box_office = pd.read_csv("2019-2021 Box Office.csv")
rotten_tomatoes = pd.read_csv("project-2/RT Ranking 2019-2021.csv")

# Change column header for movie title to match

box_office = box_office.rename(columns = {"Movie":"Title"})

,Rank,Title,Release Date,Distributor,Genre,2019 Gross,Tickets Sold
0,1,Avengers: Endgame,4/26/2019,Walt Disney,Action,"$858,373,000","93,708,843"
1,2,The Lion King,7/19/2019,Walt Disney,Adventure,"$543,638,043","59,349,131"
2,3,Frozen II,11/22/2019,Walt Disney,Adventure,"$450,439,533","49,174,621"
3,4,Toy Story 4,6/21/2019,Walt Disney,Adventure,"$434,038,008","47,384,062"
4,5,Captain Marvel,3/8/2019,Walt Disney,Action,"$426,829,839","46,597,144"

In [12]:
# Merge on Title
box_office_rating_merge = pd.merge(box_office,rotten_tomatoes,on = "Title",how = "left")
box_office_rating_merge = box_office_rating_merge.rename(columns = {"Rank_x":"Box Office Rank","Rank_y":"Rotten Tomatoes Rank"})
box_office_rating_merge

,Box Office Rank,Title,Release Date,Distributor,Genre,2019 Gross,Tickets Sold,Rotten Tomatoes Rank,RatingTomatometer,No. of Reviews
0,1,Avengers: Endgame,4/26/2019,Walt Disney,Action,"$858,373,000","93,708,843",2.0,94%,546.0
1,2,The Lion King,7/19/2019,Walt Disney,Adventure,"$543,638,043","59,349,131",NaN,NaN,NaN
2,3,Frozen II,11/22/2019,Walt Disney,Adventure,"$450,439,533","49,174,621",NaN,NaN,NaN
3,4,Toy Story 4,6/21/2019,Walt Disney,Adventure,"$434,038,008","47,384,062",5.0,97%,452.0
4,5,Captain Marvel,3/8/2019,Walt Disney,Action,"$426,829,839","46,597,144",32.0,79%,542.0
...,...,...,...,...,...,...,...,...,...,...
1070,393,Granny Nanny,11/27/2020,Distrib Films,Comedy,$432,47,NaN,NaN,NaN
1071,394,Sol,11/20/2020,Distrib Films,Comedy,$327,35,NaN,NaN,NaN
1072,395,Love by Drowning,11/6/2020,Dow Jazz Films,Drama,$267,29,NaN,NaN,NaN
1073,396,St. Patrick’s Day,12/18/2020,Self Distributed,Educational,$260,28,NaN,NaN,NaN
1074,397,It’s For Your Own Good,11/27/2020,Distrib Films,Comedy,$256,27,NaN,NaN,NaN